html, body {
  background-color: #000;
  margin: 0;  
  padding: 0;
  justify-content: center;
  align-items: center; 
  /* overflow: hidden;   */
  /* This ensures no scrollbars */
}

#canvas {
  position: absolute;
  transform: rotateY(180deg) ;
  top: 0; /* Moves it half its own height upwards */
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

#video {
  position: absolute;
  transform: rotateY(180deg);
  filter: grayscale(100%) ;
  top: 0;
  left: -25%;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.overlay{
  background-color: rgba(0,0,0,0.7);
  /* background-color: #000; */
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 1
}
